<%= nested_form_for(poll) do |f| %>
  <% if poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </div>
<div class="container">
  <div class="field">
    <%= f.label :Title %>
    <%= f.text_field :Title,class: "form-control" %>
  </div>
<br>
  <div class="field">
    <%= f.label :Description %>
    <%= f.text_field :Description,class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :Start_Date %>
    <%= f.datetime_field :Start_Date,class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :End_Date %>
    <%= f.datetime_field :End_Date,class: "form-control" %>
  </div>
   <table id="tasks">
    <%= f.fields_for :answers do |answer| %>
      <%= answer.text_field :Title %>
      <%= answer.link_to_remove "Remove this answer" %>
    <% end %>
  </table>
  <p><%= f.link_to_add "Add a answer", :answers, :data => { :target => "#tasks" }  %></p>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

