<%= nested_form_for(poll,:remote => true) do |f| %>
  <% if poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </div>
<div class="container">
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title,class: "form-control" %>
  </div>
<br>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description,class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :start_Date %>
    <%= f.datetime_field :start_date,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.datetime_field :end_date,class: "form-control" %>
  </div>
   <div class="field">
    <%= f.label :category_id %><br />
    <%= f.collection_select :category_id, Category.order(:name), :id, :name, include_blank: true,class: "form-control"%>
  </div>
   <table id="tasks">
    <%= f.fields_for :answers do |answer| %>
      <%= answer.text_field :Title %>
      <%= answer.link_to_remove "Remove",class: "btn btn-danger" %>
    <% end %>
  </table>
  <p><%= f.link_to_add "Add Options", :answers, :data => { :target => "#tasks" },class: "btn btn-success" %></p>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<script type="text/javascript">
  $(document).ready(function() {            
    $('input').attr('required', true);   
  });
</script>