<p id="notice"><%= notice %></p>

<h1>Polls</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desciption</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<div class = "container">
  <tbody>
    <% @poll.each do |poll| %>
      <tr>
        <td><%= poll.title %></td>
        <td><%= poll.description %></td>
        <td><%= link_to 'Show', poll,class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
  </div>
</table>

<br>

<%= link_to 'New Answer', new_poll_path,class: "btn btn-warning" %>
<%= link_to 'Create A Poll',polls_path,class: "btn btn-info"%>