<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h1>Categories</h1>
  <table class = "table">
  <thead>
    <tr>
      <th>Category Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category, class: "btn btn-success" %></td>
       <% if user_signed_in? %> 
        <% if current_user.role == "admin" %>

        <td><%= link_to 'Edit', edit_category_path(category), class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
      </tr>
    <% end %>
    <%end %>
    <%end %>
  </tbody>
</table>
</div>
<br>    
 <% if user_signed_in? %> 
<% if current_user.role == "admin" %>
<li>
<%= link_to 'New Category', new_category_path,class: "btn btn-success"%>
</li>
<% end %>
<% end %>