<div class="container">
  <center><h2>Category Name:</h2>
  <p><%= @category.name %></p>  </center>          
  <table class="table table-striped">
    <thead>
      <tr>
         <th>Title</th>
	      	<th>Description</th>
	      	<th>Start date</th>
	      	<th>End date</th>
	      	<th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @category.polls.each do |poll| %>
		     	<tr>
		        <td><%= poll.title %></td><br>
		        <td><%= poll.description %></td>
		        <td><%= poll.start_date %></td>
		        <td><%= poll.end_date %></td>
		        <!-- <td><%#= link_to 'Show', poll,class: "btn btn-info" %></td> -->
		    	</tr>
				<% end %>
      </tr>
    </tbody>
  </table>
</div>
<center>
		<%= link_to 'Back', categories_path,class: "btn btn-success "%>
		<% if user_signed_in? %>
		 	<% if current_user.role == "admin" %>
				<%= link_to 'Edit', edit_category_path(@category),class: "btn btn-info" %> 
			<% end %>
		<% end %>
	</center>
